* {
    box-sizing: border-box;
}

:root{
    --color_1: #ffd700;
    --color_2: #ff3e3e;
    --color_3: #e9e7e7;
    --color_4: #b700ff;
    --color_5: #7fff00;
    --color_6: #55dcfd;
}

body {
    background-image: url("/matheMagic/images/bg_1.jpg");
    background-attachment: fixed;
    z-index: -10;
}

#marker_1 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 46px;
    left: 0px;
    transform: translateX(180px);
    width: 95.5px;
    height: 10px;
    border-radius: 0 0 5px 5px;
    background-color: var(--color_1);
    box-shadow: 0 0 15px var(--color_1), 0 0 30px var(--color_1), 0 0 45px var(--color_1), 0 0 60px var(--color_1);
}

#marker_2 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 46px;
    left: 0px;
    transform: translateX(283.5px);
    width: 113.5px;
    height: 10px;
    border-radius: 0 0 5px 5px;
    background-color: var(--color_2);
    box-shadow: 0 0 15px var(--color_2), 0 0 30px var(--color_2), 0 0 45px var(--color_2), 0 0 60px var(--color_2);
}

#marker_3 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 46px;
    left: 0px;
    transform: translateX(405px);
    width: 94px;
    height: 10px;
    border-radius: 0 0 5px 5px;
    background-color: var(--color_3);
    box-shadow: 0 0 15px var(--color_3), 0 0 30px var(--color_3), 0 0 45px var(--color_3), 0 0 60px var(--color_3);
}

#marker_4 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 46px;
    left: 0px;
    transform: translateX(507px);
    width: 89.5px;
    height: 10px;
    border-radius: 0 0 5px 5px;
    background-color: var(--color_4);
    box-shadow: 0 0 15px var(--color_4), 0 0 30px var(--color_4), 0 0 45px var(--color_4), 0 0 60px var(--color_4);
}

#marker_5 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 46px;
    left: 0px;
    transform: translateX(604.5px);
    width: 96.5px;
    height: 10px;
    border-radius: 0 0 5px 5px;
    background-color: var(--color_5);
    box-shadow: 0 0 15px var(--color_5), 0 0 30px var(--color_5), 0 0 45px var(--color_5), 0 0 60px var(--color_5);
}

#marker_6 {
    display: none;
    position: absolute;
    z-index: 1;
    top: 46px;
    left: 0px;
    transform: translateX(709px);
    width: 107.5px;
    height: 10px;
    border-radius: 0 0 5px 5px;
    background-color: var(--color_6);
    box-shadow: 0 0 15px var(--color_6), 0 0 30px var(--color_6), 0 0 45px var(--color_6), 0 0 60px var(--color_6);
}

@media(max-width: 991.9px){
    #marker_1 {
        display: none !important;
    }
    #marker_2 {
        display: none !important;
    }
    #marker_3 {
        display: none !important;
    }
    #marker_4 {
        display: none !important;
    }
    #marker_5 {
        display: none !important;
    }
    #marker_6 {
        display: none !important;
    }
}

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 3;
}

.cardContainer .cardLayout {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    display: flex;
    z-index: 8;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.cardContainer .cardLayout .cardContent {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    z-index: 10;
}

.cardContainer .cardLayout .cardContent h1 {
    position: absolute;
    top: -20px;
    right: 25%;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.25);
    pointer-events: none;
    z-index: 9 !important;
}

.cardContainer .cardLayout .cardContent a {
    position: relative;
    display: inline-block;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 0 0 0;
    padding: 8px 20px;
    text-decoration: none;
}

@media (max-width: 320px) {
    .cardContainer .cardLayout {
        width: 260px;
        height: 510px;
    }
}

.locationContainer {
    margin-top: 10px;
}

.locationContainer .mapContainer {
    box-shadow: 0 0 10px rgb(255, 255, 255),
                0 0 20px rgb(255, 255, 255);
                /* 0 0 45px #f00,
                0 0 60px #f00; */
}

.locationContainer h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 50px;
    text-shadow: 3px 3px 5px #f00,
                -3px 3px 5px #f00,
                3px -3px 5px #f00,
               -3px -3px 5px #f00;
}

@media (max-width: 320px) {
    .locationContainer .mapContainer {
        margin: auto;
        width: 280px;
        height: 280px;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
    .locationContainer .mapContainer {
        margin: auto;
        width: 310px;
        height: 310px;
    }
}
@media (min-width: 376px) and (max-width: 425px) {
    .locationContainer .mapContainer {
        margin: auto;
        width: 350px;
        height: 350px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .locationContainer .mapContainer {
        margin: auto;
        width: 400px;
        height: 400px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .locationContainer .mapContainer {
        margin: auto;
        width: 750px;
        height: 420px;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .locationContainer .mapContainer {
        margin: auto;
        width: 1000px;
        height: 450px;
    }
}
@media (min-width: 1441px) and (max-width: 2560px) {
    .locationContainer .mapContainer {
        margin: auto;
        width: 1400px;
        height: 700px;
    }
}
@media (min-width: 2561px) {
    .locationContainer .mapContainer {
        margin: auto;
        width: 2500px;
        height: 800px;
    }
}

.priceContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceCardContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 3;
}

.priceCardContainer .priceCardLayout {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    display: flex;
    z-index: 8;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.priceCardContainer .priceCardLayout .priceCardContent {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    z-index: 10;
}

.priceCardContainer .priceCardLayout .priceCardContent h1 {
    position: absolute;
    font-variant: small-caps;
    top: -10px;
    right: 15px;
    display: flex;
    justify-content: center;
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.18);
    pointer-events: none;
    z-index: 9 !important;
}

.priceCardContainer .priceCardLayout .priceCardContent h4 {
    font-size: 64px;
    font-variant: small-caps;
}

.priceCardContainer .priceCardLayout .priceCardContent p {
    font-size: 24px;
    font-family: cursive;
}

.priceCardContainer .priceCardLayout .priceCardContent a {
    position: relative;
    display: inline-block;
    color: #000;
    background-color: rgb(136, 255, 0);
    border-radius: 10px;
    margin: 20px 0 0 0;
    padding: 8px 20px;
    text-decoration: none;
}

@media (max-width: 320px) {
    .priceCardContainer .priceCardLayout {
        width: 260px;
        height: 510px;
    }
    .priceCardContainer .priceCardLayout .priceCardContent h1 {
    font-size: 6rem;
    }
}

.faqContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqCardContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
}

.faqCardContainer .faqCardLayout {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    display: flex;
    z-index: 8;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.faqCardContainer .faqCardLayout .faqCardContent {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    z-index: 10;
}

.faqCardContainer .faqCardLayout .faqCardContent h1 {
    position: absolute;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-variant: small-caps;
    left: 0;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.15);
    pointer-events: none;
    z-index: 9 !important;
}

.faqCardContainer .faqCardLayout .faqCardContent h4 {
    font-size: 64px;
    font-variant: small-caps;
}

.faqCardContainer .faqCardLayout .faqCardContent p {
    text-align: center;
    font-size: 24px;
    font-family: cursive;
}

.faqCardContainer .faqCardLayout .faqCardContent a {
    position: relative;
    display: inline-block;
    color: #000;
    background-color: rgb(255, 196, 0);
    border-radius: 10px;
    margin: 20px 0 0 0;
    padding: 8px 20px;
    text-decoration: none;
}

@media (max-width: 320px) {
    .faqCardContainer {
        width: 300px;
    }
    .faqCardContainer .faqCardLayout {
        width: 260px;
        height: 510px;
    }
    .faqCardContainer .faqCardLayout .faqCardContent h1 {
        font-size: 2.75rem;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
    .faqCardContainer {
        width: 320px;
    }
    .faqCardContainer .faqCardLayout {
        width: 310px;
        height: 510px;
    }
    .faqCardContainer .faqCardLayout .faqCardContent h1 {
        font-size: 3.25rem;
    }
}
@media (min-width: 376px) and (max-width: 425px) {
    .faqCardContainer {
        width: 370px;
    }
    .faqCardContainer .faqCardLayout {
        width: 360px;
        height: 510px;
    }
    .faqCardContainer .faqCardLayout .faqCardContent h1 {
        font-size: 4rem;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .faqCardContainer {
        width: 420px;
    }
    .faqCardContainer .faqCardLayout {
        width: 400px;
        height: 600px;
    }
    .faqCardContainer .faqCardLayout .faqCardContent h1 {
        font-size: 4.5rem;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .faqCardContainer {
        width: 760px;
    }
    .faqCardContainer .faqCardLayout {
        width: 730px;
        height: 450px;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .faqCardContainer {
        width: 1000px;
    }
    .faqCardContainer .faqCardLayout {
        width: 1000px;
        height: 500px;
    }
}
@media (min-width: 1441px) and (max-width: 2560px) {
    .faqCardContainer {
        width: 1400px;
    }
    .faqCardContainer .faqCardLayout {
        width: 1400px;
        height: 700px;
    }
}
@media (min-width: 2561px) {
    .faqCardContainer {
        width: 2500px;
    }
    .faqCardContainer .faqCardLayout {
        width: 2400px;
        height: 80px;
    }
}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutCardContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
}

.aboutCardContainer .aboutCardLayout {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    display: flex;
    z-index: 8;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.aboutCardContainer .aboutCardLayout .aboutCardContent {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    z-index: 10;
}

.aboutCardContainer .aboutCardLayout .aboutCardContent h1 {
    position: absolute;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-variant: small-caps;
    left: 0;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.15);
    pointer-events: none;
    z-index: 9 !important;
}

.aboutCardContainer .aboutCardLayout .aboutCardContent h4 {
    font-size: 64px;
    font-variant: small-caps;
}

.aboutCardContainer .aboutCardLayout .aboutCardContent p {
    text-align: center;
    font-size: 24px;
    font-family: cursive;
}

@media (max-width: 320px) {
    .aboutCardContainer {
        width: 300px;
    }
    .aboutCardContainer .aboutCardLayout {
        width: 260px;
        height: 510px;
    }
    .aboutCardContainer .aboutCardLayout .aboutCardContent h1 {
        font-size: 2.75rem;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
    .aboutCardContainer {
        width: 320px;
    }
    .aboutCardContainer .aboutCardLayout {
        width: 310px;
        height: 510px;
    }
    .aboutCardContainer .aboutCardLayout .aboutCardContent h1 {
        font-size: 3.25rem;
    }
}
@media (min-width: 376px) and (max-width: 425px) {
    .aboutCardContainer {
        width: 370px;
    }
    .aboutCardContainer .aboutCardLayout {
        width: 360px;
        height: 510px;
    }
    .aboutCardContainer .aboutCardLayout .aboutCardContent h1 {
        font-size: 4rem;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .aboutCardContainer {
        width: 420px;
    }
    .aboutCardContainer .aboutCardLayout {
        width: 400px;
        height: 400px;
    }
    .aboutCardContainer .aboutCardLayout .aboutCardContent h1 {
        font-size: 4.5rem;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .aboutCardContainer {
        width: 760px;
    }
    .aboutCardContainer .aboutCardLayout {
        width: 730px;
        height: 450px;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .aboutCardContainer {
        width: 1000px;
    }
    .aboutCardContainer .aboutCardLayout {
        width: 1000px;
        height: 500px;
    }
}
@media (min-width: 1441px) and (max-width: 2560px) {
    .aboutCardContainer {
        width: 1400px;
    }
    .aboutCardContainer .aboutCardLayout {
        width: 1400px;
        height: 700px;
    }
}
@media (min-width: 2561px) {
    .aboutCardContainer {
        width: 2500px;
    }
    .aboutCardContainer .aboutCardLayout {
        width: 2400px;
        height: 80px;
    }
}

.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactCardContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
}

.contactCardContainer .contactCardLayout {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    display: flex;
    z-index: 8;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.contactCardContainer .contactCardLayout .contactCardContent {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    z-index: 10;
}

.contactCardContainer .contactCardLayout .contactCardContent h1 {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-variant: small-caps;
    left: 0;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.15);
    pointer-events: none;
    z-index: 9 !important;
}

.contactCardContainer .contactCardLayout .contactCardContent h4 {
    font-size: 40px;
    font-variant: small-caps;
}

.contactCardContainer .contactCardLayout .contactCardContent input {
    width: 244px;
    margin: 5px;
    padding: 2px 10px;
    outline: none;
    border: 2px solid #000;
    margin: -3px 0 0 0;
    border-radius: 20px;
}

.contactCardContainer .contactCardLayout .contactCardContent input:hover {
    border: 2px solid rgb(132, 0, 255);
}

.contactCardContainer .contactCardLayout .contactCardContent textarea {
    width: 244px;
    height: 100px;
    margin: 5px;
    padding: 2px 10px;
    outline: none;
    border: 2px solid #000;
    border-radius: 20px;
    resize: none;
    margin: -3px 0 0 0;
}

.contactCardContainer .contactCardLayout .contactCardContent textarea:hover {
    border: 2px solid rgb(132, 0, 255);
}

.contactCardContainer .contactCardLayout .contactCardContent label {
    font-size: 30px;
    margin: 0 0 -20px 0;
    font-variant: small-caps;
}

.contactCardContainer .contactCardLayout .contactCardContent button {
    background-color: rgb(142, 21, 255);
    color: #fff;
    border-radius: 15px;
    padding: 10px 0;
    outline: none;
    border: none;
    width: 244px;
    font-variant: small-caps;
    font-size: 20px;
}

.contactCardContainer .contactCardLayout .contactCardContent button:hover {
    background-color: rgb(132, 0, 255);
}

@media (max-width: 320px) {
    .contactCardContainer {
        width: 320px;
    }
    .contactCardContainer .contactCardLayout {
        width: 300px;
        height: 500px;
    }
    .contactCardContainer .contactCardLayout .contactCardContent h1 {
        font-size: 2.75rem;
    }
    .contactCardContainer .contactCardLayout .contactCardContent textarea {
        width: 244px;
        height: 100px;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
    .contactCardContainer {
        width: 320px;
    }
    .contactCardContainer .contactCardLayout {
        width: 320px;
        height: 510px;
    }
    .contactCardContainer .contactCardLayout .contactCardContent h1 {
        font-size: 3.25rem;
    }
}
@media (min-width: 376px) and (max-width: 425px) {
    .contactCardContainer {
        width: 370px;
    }
    .contactCardContainer .contactCardLayout {
        width: 350px;
        height: 500px;
    }
    .contactCardContainer .contactCardLayout .contactCardContent h1 {
        font-size: 4rem;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .contactCardContainer {
        width: 420px;
    }
    .contactCardContainer .contactCardLayout {
        width: 350px;
        height: 500px;
    }
    .contactCardContainer .contactCardLayout .contactCardContent h1 {
        font-size: 4.5rem;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .contactCardContainer {
        width: 760px;
    }
    .contactCardContainer .contactCardLayout {
        width: 350px;
        height: 500px;
    }
}
@media (min-width: 1025px) and (max-width: 1440px) {
    .contactCardContainer {
        width: 1000px;
    }
    .contactCardContainer .contactCardLayout {
        width: 350px;
        height: 500px;
    }
}
@media (min-width: 1441px) and (max-width: 2560px) {
    .contactCardContainer {
        width: 1400px;
    }
    .contactCardContainer .contactCardLayout {
        width: 350px;
        height: 500px;
    }
}
@media (min-width: 2561px) {
    .contactCardContainer {
        width: 2500px;
    }
    .contactCardContainer .contactCardLayout {
        width: 350px;
        height: 500px;
    }
}

.contactCardContainer .contactCardLayout .contactCardContent #contactForm.valid::before {
    content: '';
    position: absolute;
    right: 25px;
    width: 24px;
    height: 24px;
    background: url("/matheMagic/images/valid.png");
    background-size: cover;
    z-index: 11;
    animation-name: valid;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
.contactCardContainer .contactCardLayout .contactCardContent #contactForm.invalid::before {
    content: '';
    position: absolute;
    right: 25px;
    width: 24px;
    height: 24px;
    background: url("/matheMagic/images/invalid.png");
    background-size: cover;
    z-index: 11;
    animation-name: invalid;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes valid {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes invalid {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
